body {
    background-size: cover;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('../img/load.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

header.header .form-group .form-control {
    border-radius: 4px 0 0 4px;
}
header.header .navbar-form .btn {
    border-radius: 0 4px 4px 0;
}

header.header .navbar {margin-bottom: 0;}

section#adventures {
    background-color: #f5f6f7;
}

footer, section#main{
    background:#fff;
}

header.header .navbar {
    background: #fff;
}

.search input#search {
    min-width:500px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

section#main .rcpth {
    text-align: center;
}

section#main img {
    width: auto;
    height: 380px;
    margin: 0px auto;
    max-width: none;

}

section#main .indgt {
    margin: 20px 20px;
    border: 1px solid #e6ebed;
    background: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

section#search .row {display:table; width:100%; height:100%;min-height:500px;}
#adventures .panel {margin-top:14px;}

#search .search {display:table-cell;vertical-align: middle;text-align:center;}



/* ------------------------------------------------------------------- */
/* Royal Slider
---------------------------------------------------------------------- */
.royalSlider {
    position: relative;
    direction: ltr;
}

.royalSlider > * {
    float: left;
}

.rsWebkit3d .rsSlide {
    -webkit-transform: translateZ(0);
}

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
    -webkit-transform: none;
}

.rsOverflow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsVisibleNearbyWrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsVisibleNearbyWrap .rsOverflow {
    position: absolute;
    left: 0;
    top: 0;

}

.rsContainer {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
    cursor: pointer;
}

.rsThumb {
    float: left;
    position: relative;
}

.rsArrow,
.rsNav,
.rsThumbsArrow {
    opacity: 1;
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    -o-transition:opacity 0.3s linear;
    transition:opacity 0.3s linear;
}

.rsHidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
    -moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
    -o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
    transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}

.rsGCaption {
    width: 100%;
    float: left;
    text-align: center;
}


/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
    position: fixed !important;
    height: auto !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 2147483647 !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
    opacity: 1 !important;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition:  0s;
    transition:  0s;
    display: none;
}

.rsSlide {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
    height: auto;
}

.rsContent {
    width: 100%;
    height: 100%;
    position: absolute;
}

.rsPreloader {
    position:absolute;
    z-index: 0;
}

.rsNav {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

.rsNavItem {
    -webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 22;
}

.rsTabs {
    float: left;
    background: none !important;
}

.rsTabs,
.rsThumbs {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsVideoContainer {
    width: auto;
    height: auto;
    line-height: 0;
    position: relative;
}
.rsVideoFrameHolder {
    position: absolute;
    left: 0;
    top: 0;
    background: #141414;
    opacity: 0;
    -webkit-transition: .3s;
}

.rsVideoFrameHolder.rsVideoActive {
    opacity: 1;
}

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 44px;
}

img.rsImg {
    max-width: none;
}

.grab-cursor { cursor:url(grab.png) 8 8, move;  }
.grabbing-cursor{  cursor:url(grabbing.png) 8 8, move; }
.rsNoDrag { cursor: auto; }

.rsLink {
    left:0;
    top:0;
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    z-index: 20;
    background: url(blank.gif);
}


/* Homepage Slider
------------------------------------*/
#homeSlider {
    width: 100%;
    height: 590px;
}

#homeSlider a:hover {text-decoration: none;}
.rsSlideTitle ul {
    padding: 0;
}

#homeSlider .rsThumbsHor {
    height: 75px;
    padding: 0;
}

.rsSlide:before {
    content: "";
    background: #333;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    display: block;
    opacity: 0.5;
}

.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
    background: #fff;
}

#homeSlider .rsThumbs {
    width: 1186px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    font-weight: 700;
}

#homeSlider .rsNav:after {
    content:"";
    display: block;
    width: 4px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
}

.rsDefaultInv .rsThumb {
    width: 205px;
    border-left: 1px solid #e3e3e3;
    padding: 0 15px;
    cursor: pointer;
    text-align: center;
    height: 75px;
    line-height: 72px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(50, 50, 50, 0.08);
    -moz-box-shadow: inset 0px -1px 0px 0px rgba(50, 50, 50, 0.08);
    box-shadow: inset 0px -1px 0px 0px rgba(50, 50, 50, 0.08);
}

.rsTmb {
    display:inline-block;
    vertical-align:middle;
    line-height: 18px;
    padding: 0px 10px;
}

.rsDefaultInv .rsThumb.rsNavSelected {
    background: #79DE4F;
    border-left: 1px solid #79DE4F;
    color: #fff;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(50, 50, 50, 0.12), 1px 0px 0px 0px #79DE4F;
    -moz-box-shadow: inset 0px -1px 0px 0px rgba(50, 50, 50, 0.12), 1px 0px 0px 0px #79DE4F;
    box-shadow: inset 0px -1px 0px 0px rgba(50, 50, 50, 0.12), 1px 0px 0px 0px #79DE4F;
    z-index: 9;
}

.rsDefaultInv .rsThumb { color: #808080; font-size: 100%; }


/* Arrow Navigation */
#slider-prev,
#slider-next { display: none; }


/* Slider Caption */
.SlideTitleContainer {
    width: 1180px;
    margin: 0 auto;
    position: absolute;
    left: 3px;
    right: 0;
    top: 50%;
}

.CaptionAlignment {
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rsSlideTitle {
    color: #FFF;
    z-index: 1000;
    position: relative;
    width: 550px;
}


/* Tags */
.rsSlideTitle.tags ul li {
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 1px 0 0;
    background-color: #79DE4F;
    padding: 5px 9px;
    float: left;
}
.rsSlideTitle.tags ul li a {
    color: #fff
}

/* Recipe Title */
.rsSlideTitle.title a {
    font-size: 54px;
    line-height: 60px;
    margin-top: 14px;
    color: #fff;
}

.rsSlideTitle.title {
    margin-top: 14px;
}


/* Recipe Details */
.rsSlideTitle.details { margin-top: 8px; }

.rsSlideTitle.details ul li {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 15px 0 0;
}

.rsSlideTitle.details ul li a { color: #fff; }
.rsSlideTitle.details ul li i { margin: 0 2px 0 0;}


/* Button */
.rsSlideTitle.button {
    border: 3px solid #fff;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
    width: 130px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out !important;
    -moz-transition: all 0.2s ease-in-out !important;
    -o-transition: all 0.2s ease-in-out !important;
    -ms-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
    margin-top: 18px;
}

body .rsSlideTitle.button:hover { background-color: rgba(255,255,255,0.35) !important; }


/* Homepage Slider Alternative
------------------------------------*/
#homeSliderAlt .rsThumbs { background-color: #333; }

#homeSliderAlt { width: 100%; }

.homeSliderAlt .rsThumbs .rsThumb {
    height: 93px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    line-height: 90px;
}

.homeSliderAlt .rsThumbs { padding: 0; }

.homeSliderAlt .rsThumbs,
.homeSliderAlt .rsThumbs .rsThumb {
    width: 280px;
}

.homeSliderAlt .rsThumb:hover { background: #292929; }

.rsABlock {
    left: 35px;
    bottom: 35px;
    position: absolute;
    z-index: 1010;
    padding:0;
}

a.blockTitle {
    color: #fff !important;
    font-weight: 500;
    font-size: 23px;
    background: rgba(32,32,32,0.6);
    padding: 15px 20px;
    line-height: 34px;
    -webkit-transition: all 0.2s ease-in-out !important;
    -moz-transition: all 0.2s ease-in-out !important;
    -o-transition: all 0.2s ease-in-out !important;
    -ms-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.blockTitle:hover { background: #808080; }


/* Navigation */
.rsDefault .rsThumbsVer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.rsDefault.rsWithThumbsVer .rsThumbsContainer {
    position: relative;
    width: 100%;
}

.rsDefault .rsTmb { display: block; }

.rsDefault .rsThumb h5 { color: #ddd; }

.rsDefault .rsTmb {
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-weight: 600;
    display:inline-block;
    vertical-align:middle;
    padding: 0 25px;
}

.rsDefault .rsTmb h5 {
    font-size: 16px;
    font-weight: 600;
}


.rsDefault .rsThumb.rsNavSelected { background: #808080; border-color: #808080; }

.rsDefault .rsThumb.rsNavSelected h5 { color: #fff; }


/* Thumbnails arrow icons */
.rsDefault .rsThumbsArrow {
    height: 100%;
    width: 20px;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 21;
    background: #484848;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.rsDefault .rsThumbsArrow:hover {
    background: #808080;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrow {
    width: 100%;
    height: 32px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsDefault .rsThumbsArrowIcn {
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-top:-8px;
    margin-left: -8px;
    position: absolute;
    cursor: pointer;
    font-family: "FontAwesome";
}

.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn:before,
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn:before {
    display: block;
    color: #fff;
    height: 10px;
    width: 10px;
    position: relative;
    top: -3px;
}

.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn:before { content: "?"; }
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn:before { content: "?"; }


.rsDefault .rsThumbsArrowDisabled { display: none !important; }

/* ------------------------------------------------------------------- */
/* Post
---------------------------------------------------------------------- */
.no-recipe .post-content {
    margin-top: 25px;
}
.no-recipe {
    margin-bottom: 50px;
}
.no-recipe .comment-form-rating{
    display: none;
}
.alignment .no-recipe .comment-form p.comment-form-comment {
    margin-top: 0px;
}
.post-content {
    margin-bottom: 40px;
}

.post-content ul {
    list-style: circle;
    margin: 10px 0px 0px 30px;
}
.post-content > ul {
    margin-bottom: 30px;
}
.post-content ol {
    list-style: decimal;
    margin: 10px 0px 0px 30px;
}
.post-content > ol {
    margin-bottom: 30px;
}
.post-content ol li,
.post-content ul li {
    padding: 5px 0px;
}

.post-content .recipe-details ul {
    margin:0px; list-style: none;
}
.post-content .recipe-details ul li a:hover,
.post-content .recipe-details ul li a {
    color: #707070
}

.adv-icon {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#adventures h3 {text-align:center;}
.section-header h1 {text-align:center;}
.adv-icon .glyphicon {
    text-align: center;
    font-size: 64px;
    display: block;
}

.rsThumbsContainer .rsNavItem:nth-child(1) {
    border-left:none;

}
.headline {
    font-size: 22px;
    background-color: #fff;
    padding-right: 10px;
    z-index: 5;
    position: relative;
    float: left;
}

.headline.drk {
    background-color: #f5f6f7;
}

.line.rb {
    width: 97.7%;
}

.line {
    background: url(../img/zigzag.png) bottom repeat-x;
    width: 100%;
    float: left;
    height: 4px;
    display: inline-block;
    margin: -24px 0 25px 0;
}

.recipeBackground {
    max-height: 250px;
    overflow: hidden;
    position: relative;
}

.recipeBackground:before {
    content: "";
    background: #333;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    display: block;
    opacity: 0.5;
}

.recipeBackground img {
    width: 100%;
    height: auto;
}

.recipe-header {
    background-color: #f8f8f8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 35px 16px 35px;
    position: relative;
    z-index: 50;
}

.recipe-header:before {
    content: "";
    position: absolute;
    top: -48px;
    left: 0;
    right: 48px;
    border-width: 48px;
    border-style: solid;
    border-color: #fff;
    z-index: 1;
}


.recipe-header h1,
.recipe-header h2,
.recipe-header p{
    margin: 0;
    top: -2px;
    z-index: 20;
    position: relative;
    width: 90%;
    line-height: 36px;
}


.title-alignment {
    position:relative;
    top: -15px;
}

.recipe-header {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 35px 16px 35px;
    position: relative;
    z-index: 50;
}
.alignment {
    padding-right: 20px;
    position: relative;
    top: -57px;
    z-index: 99;
}

/*!
 * Bootstrap-select v1.7.2 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2015 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */

.bootstrap-select {
    width: 220px \0;
    /*IE9 and below*/
}
.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
}
.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48;
}
.bootstrap-select.fit-width {
    width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}
.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
}
.bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%;
}
.bootstrap-select.form-control.input-group-btn {
    z-index: auto;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
    float: right;
}
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
    margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0;
}
.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%;
}
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
    cursor: not-allowed;
}
.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
    outline: none !important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
}
.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
    width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    z-index: 1035;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
    color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
    cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
    position: static;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
    position: static;
    top: auto;
    margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
    z-index: 1036;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, 0.2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid rgba(204, 204, 204, 0.2);
    border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid white;
    border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
    display: block;
}
.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
    padding: 4px 8px;
}
.bs-actionsbox {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
    width: 50%;
}
.bs-donebutton {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bs-donebutton .btn-group button {
    width: 100%;
}
.bs-searchbox + .bs-actionsbox {
    padding: 0 8px 4px;
}
.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
}
select.bs-select-hidden,
select.selectpicker {
    display: none !important;
}
select.mobile-device {
    position: absolute !important;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    height: 100% !important;
    opacity: 0;
}
.recept p{
    font-size: 24px;
}
.ingredients p {
    font-size: 24px;
}
