{% extends "base.html" %}

{% block title %}
Рецепт
{% endblock %}

{% block content %}

<table border="0">
    {{ meals.meal_title }}</tr></th><tr>{{ meals.meal_description }}</tr><tr>{{ meals.meal_guide }}</tr>
</table>
{% endblock %}