{% extends "base.html" %}

{% block title %}
    Список транзакций
{% endblock %}

{% block content %}

        <table border=0>
            {% for meal in meals %}
            <li><a href="/recipes/{{ meal.id }}/">{{ meal.meal_title }}</a></li>
            {% endfor %}
        </table>
{% endblock %}


{% block content %}

<table border=0>
    {% for meal in meals %}
    <li><a href="/recipes/{{ meal.id }}/">{{ meal.meal_title }}</a></li>
    {% endfor %}
</table>
{% endblock %}