<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Рецепты</title>
    {% load staticfiles %}
    <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/style.css' %}" rel="stylesheet">
</head>
<body class="nobg">
<div class="preloader"><div class="status">&nbsp;</div></div>
    <header class="header clearfix">
                <nav class="navbar">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Meal Constructor</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Меню <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/recipe/type/Основные блюда">Основные блюда</a></li>
                                        <li><a href="/recipe/type/Супы">Супы</a></li>
                                        <li><a href="/recipe/type/Завтраки">Завтраки</a></li>
                                        <li><a href="/recipe/type/Выпечка и десерты">Выпечка и десерты</a></li>
                                        <li><a href="/recipe/type/Закуски">Закуски</a></li>
                                        <li><a href="/recipe/type/Салаты">Салаты</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/recipe/type/">Все блюда</a></li>

                                    </ul>
                                </li>
                                <!-- Поиск по ингридиентам в шапке
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Продукты<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Мясо</a></li>
                                        <li><a href="#">Овощи</a></li>
                                        <li><a href="#">Молочные</a></li>
                                        <li><a href="#">Сладости</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Все продукты</a></li>
                                    </ul>
                                </li>
                                -->
                            </ul>
                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Поиск..">
                                </div>
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
    </header>

<div id="homeSlider" class="royalSlider rsDefaultInv">
    <!-- Slide #1 -->
    <div class="rsContent">
        <a class="rsImg" href="{% static 'static/img/Шарлотка.jpg' %}"></a>
        <div class="rsTmb">Шарлотка</div>

        <!-- Slide Caption -->
        <div class="SlideTitleContainer rsABlock">
            <div class="CaptionAlignment">
                <div class="rsSlideTitle tags">
                    <ul class="post-categories">
                        <li><a href="/recipe/type/Выпечка и десерты" rel="category tag">Выпечка и десерты</a></li></ul>                            <div class="clearfix"></div>
                </div>
                <h2 class="rsSlideTitle title"><a href="/recipe/detail/Шарлотка">Шарлотка</a></h2>

                <a href="/recipe/detail/Шарлотка" class="rsSlideTitle button">
                    Показать рецепт                      </a>
            </div>
        </div>
    </div>
    <!-- Slide #1 -->
    <div class="rsContent">
        <a class="rsImg" href="{% static 'static/img/Брауни.jpg' %}"></a>
        <div class="rsTmb">Брауни</div>

        <!-- Slide Caption -->
        <div class="SlideTitleContainer rsABlock">
            <div class="CaptionAlignment">
                <div class="rsSlideTitle tags">
                    <ul class="post-categories">
                        <li><a href="/recipe/type/Выпечка и десерты" rel="category tag">Выпечка и десерты</a></li></ul>                            <div class="clearfix"></div>
                </div>
                <h2 class="rsSlideTitle title"><a href="/recipe/detail/Брауни">Брауни</a></h2>

                <a href="/recipe/detail/Брауни" class="rsSlideTitle button">
                   Показать рецепт                       </a>
            </div>
        </div>
    </div>
    <!-- Slide #1 -->
    <div class="rsContent">
        <a class="rsImg" href="{% static 'static/img/Рататуй.jpg' %}"></a>
        <div class="rsTmb">Рататуй</div>

        <!-- Slide Caption -->
        <div class="SlideTitleContainer rsABlock">
            <div class="CaptionAlignment">
                <div class="rsSlideTitle tags">
                    <ul class="post-categories">
                        <li><a href="/recipe/type/Основные блюда" rel="category tag">Основные блюда</a></li>
                    </ul>                            <div class="clearfix"></div>
                </div>
                <h2 class="rsSlideTitle title"><a href="/recipe/detail/Рататуй">Рататуй</a></h2>

                <a href="/recipe/detail/Рататуй" class="rsSlideTitle button">
                    Показать рецепт                       </a>
            </div>
        </div>
    </div>
    <!-- Slide #1 -->
    <div class="rsContent">
        <a class="rsImg" href="{% static 'static/img/Американские панкейки с корицей.jpg' %}"></a>
        <div class="rsTmb">Американские панкейки с корицей</div>

        <!-- Slide Caption -->
        <div class="SlideTitleContainer rsABlock">
            <div class="CaptionAlignment">
                <div class="rsSlideTitle tags">
                    <ul class="post-categories">
                        <li><a href="/recipe/type/Завтраки" rel="category tag">Завтраки</a></li></ul>                            <div class="clearfix"></div>
                </div>
                <h2 class="rsSlideTitle title"><a href="/recipe/detail/Американские панкейки с корицей">Американские панкейки с корицей</a></h2>

                <a href="/recipe/detail/Американские панкейки с корицей" class="rsSlideTitle button">
                   Показать рецепт                        </a>
            </div>
        </div>
    </div>
    <!-- Slide #1 -->
    <div class="rsContent">
        <a class="rsImg" href="{% static 'static/img/Борщ.jpg' %}"></a>
        <div class="rsTmb">Борщ</div>

        <!-- Slide Caption -->
        <div class="SlideTitleContainer rsABlock">
            <div class="CaptionAlignment">
                <div class="rsSlideTitle tags">
                    <ul class="post-categories">
                        <li><a href="/recipe/type/Супы" rel="category tag">Супы</a></li>
                        </ul>                            <div class="clearfix"></div>
                </div>
                <h2 class="rsSlideTitle title"><a href="/recipe/detail/Борщ">Борщ</a></h2>

                <a href="/recipe/detail/Борщ" class="rsSlideTitle button">
                   Показать рецепт                       </a>
            </div>
        </div>
    </div>
</div>


    <section id="adventures">
        <div class="container">
            <h3 class="headline drk">Почему мы?</h3>
            <span class="line rb"></span>
            <div class="clearfix"></div>
        </div>
            <div class="jumbotron">
                <div class="container">
                    <div class="adv-icon">
                        <i style="color:#06B3A4;" class="glyphicon glyphicon-ruble"></i>
                    </div>
                    <h3>Цена</h3>
                    <p>Наш сервис поможет Вам подобрать самые выгодные и актуальные цены для выбранного блюда во всем Владивостоке</p>
                </div>
            </div>
        <span class="line rb"></span>
        <div class="clearfix"></div>
        <div class="jumbotron">
            <div class="container">
                <div class="adv-icon">
                    <i style="color:#E82C0C;" class="glyphicon glyphicon-apple"></i>
                </div>
                <h3>Ингредиенты</h3>
                <p>Вы получаете возможность купить в ближайщем к Вам магазине даже самые экзотические ингрединты для выбранного блюда </p>
            </div>
        </div>
        <span class="line rb"></span>
        <div class="clearfix"></div>
        <div class="jumbotron">
            <div class="container">
                <div class="adv-icon">
                    <i style="color:#F4C852;" class="glyphicon glyphicon-star"></i>
                </div>
                <h3>Удивляйте</h3>
                <p>С нашим сервисом Вы сможете удивить ваших близких своим талантом кулинарии. </p>
            </div>
        </div>
        <span class="line rb"></span>
        <div class="clearfix"></div>
        <div class="jumbotron">
            <div class="container">
                <div class="adv-icon">
                    <i style="color:#4C4673;" class="glyphicon glyphicon-cutlery"></i>
                </div>
                <h3>Эксперементируйте</h3>
                <p>Получайте удовольствие от приготовлении еды. Это ещё никогда не было так просто.</p>
            </div>
        </div>
        <span class="line rb"></span>
        <div class="clearfix"></div>
    </section>


    <footer class="footer" style="background-color: rgb(245, 246, 247);">
        <div class="container">
            <div class="row">
                <p>© Meal Constructor 2015</p>
            </div>
        </div>
    </footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'static/js/bootstrap.min.js' %}"></script>
<script>
    /* <![CDATA[ */
    var cpslidervars = {"autoPlay":"1","delay":"4000","loop":"1","numImagesToPreload":"3","fadeinLoadedSlide":"1","imageScaleMode":"fill","transitionType":"fade"};
    /* ]]> */
</script>
<script src="{% static 'static/js/cpslider.js' %}"></script>
<script src="{% static 'static/js/jquery.royalslider.min.js' %}"></script>

<!-- Some fixes-->
<script>
    jQuery(window).load(function() {

        // will first fade out the loading animation

    jQuery(".status").fadeOut();

        // will fade out the whole DIV that covers the website.

    jQuery(".preloader").delay(350).fadeOut("slow");

    });
</script>
</body>
</html>