<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Рецепты</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/select2-bootstrap.css' %}" rel="stylesheet">
</head>
<body class="nobg">
<div class="preloader"><div class="status">&nbsp;</div></div>
<header class="header clearfix">
    <nav class="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Meal Constructor</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Меню <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/recipe/type/Основные блюда">Основные блюда</a></li>
                            <li><a href="/recipe/type/Супы">Супы</a></li>
                            <li><a href="/recipe/type/Завтраки">Завтраки</a></li>
                            <li><a href="/recipe/type/Выпечка и десерты">Выпечка и десерты</a></li>
                            <li><a href="/recipe/type/Закуски">Закуски</a></li>
                            <li><a href="/recipe/type/Салаты">Салаты</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/recipe/type/">Все блюда</a></li>

                        </ul>
                    </li>
                    <!-- Поиск по ингридиентам в шапке
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Продукты<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Мясо</a></li>
                            <li><a href="#">Овощи</a></li>
                            <li><a href="#">Молочные</a></li>
                            <li><a href="#">Сладости</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Все продукты</a></li>
                        </ul>
                    </li>
                    -->
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск..">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>


<div class="recipeBackground">
    <img src="{% static 'static' %}/img/{{ meal.meal_title }}Big.jpg" alt="">
</div>


<section id="main" class="alignment">
    <div class="container">
        <div class="row">
                <div class="recipe-header">
                    <div class="title-alignment">
                                <h1>{{ meal.meal_title }}</h1>
                                <p>{{ meal.meal_description }}</p>
                    </div>
                </div>


                    <img src="{% static 'static' %}/img/{{ meal.meal_title }}.jpg" class="img-responsive center-block">

                    <div class="ingredients"><p>Ингредиенты</p>
                        <table class="table">
                            {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.ingredients_type }}</td>
                            <td>{{ ingredient.ingredients_amount }} {{ ingredient.ingredients_amount_measure }}</td>
                            <td> <div class="select2-wrapper">
                                        <select class="form-control select2">
                                            <option data-price="0"></option>
											<option data-group="0" data-price="0">Не учитывать</option>
                                            {% for g in goods %}
                                            <optgroup label="{{ g.name }}">
                                                {% for p in g.prices %}
                                                <option data-group="{{ g.name }}" data-price="{{p.price}}" value="{{p.market}}">{{p.market}}</option>
                                                {% endfor %}
                                            </optgroup>
                                            {% endfor %}
                                        </select>
                             </div></td>
                        </tr>
                            {% endfor %}
                        </table>
					<p>Цена</p>
                        <table class="table">
                            <tr>
                                <td style="width: 130px;">Цена в магазине</td><td><div id="total">0 руб.</div></td>
                            </tr>
                            <tr>
                                <td style="width: 130px;">Цена блюда</td><td><div id="pricem">0 руб.</div></td>
                            </tr>
                            <!--
                            <tr>
                                <td colspan=2><button class="btn btn-default" onclick="SendGet()">Посчитать цену блюда</button></td>
                            </tr> -->
                        </table>
						
                    </div>
                    <div class="recept">
                        <p>Рецепт</p>
                        <ol class="instrct">
                            {% autoescape off %}
                            {{ meal.meal_guide }}
                            {% endautoescape %}
                    </ol></div>
                </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <p>© Meal Constructor 2015</p>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'static/js/bootstrap.min.js' %}"></script>
<script src="{% static 'static/js/select2.min.js' %}"></script>
<script src="{% static 'static/js/select2_locale_ru.js' %}"></script>
<script type="text/javascript">


    jQuery(document).ready(function() {


        function formatPrice(state) {

            if (!state.id) return state.text;

            var originalOption = state.element;

            if(jQuery(originalOption).data('group') == 0) {
                return state.text;

            } else {

                return state.text + "<span class='label label-success'>" + jQuery(originalOption).data('price') + "<i class='glyphicon glyphicon-ruble'></i></span>"
            }
        }

        function formatPriceS(state) {

            if (!state.id) return state.text;

            var originalOption = state.element;

           if(jQuery(originalOption).data('group') == 0) {
               return state.text;

           } else {
               return jQuery(originalOption).data('group') + " - " + state.text + "<span class='label label-success'>" + jQuery(originalOption).data('price') + "<i class='glyphicon glyphicon-ruble'></i></span>";

           }
        }


        jQuery('select').select2({
        templateResult: formatPrice,
        templateSelection: formatPriceS,
        escapeMarkup: function(m) { return m; },
        theme: "bootstrap",
        placeholder: "Выберите товар и магазин",
        maximumSelectionSize: 1
    });



       jQuery(function() {
            jQuery("select").change(function() { updateTotal(); });
            updateTotal();
        });

        function updateTotal() {
            var newTotal = 0;

            jQuery("select option:selected").each(function() {
                        newTotal += parseFloat(jQuery(this).data('price'));

            });

            jQuery("#total").text(newTotal + ' руб.');
            jQuery("#pricem").text(newTotal/1.5 + ' руб.');
        }

    });


    function SendGet() {
        var mealname = jQuery(".title-alignment h1").text();
        var goods = {};
        var name = jQuery('select option:selected').each(function () {
            goods[jQuery(this).data('group')] = jQuery(this).text();
        });//meal
        var rdata = {'meal': mealname, 'goods': goods};
        $.ajax({
            type: 'get',//тип запроса: get,post либо head
            url: 'recipe/calc/',//url адрес файла обработчика
            data: rdata,// {'meal': name, 'data': {'goods': good, 'market': market}}
            response: 'text',//тип возвращаемого ответа text либо xml
            success: function (data) { //возвращаемый результат от сервера
                jQuery("#totalr").text(data + ' руб.');
            }
        });
    }
</script>
<!-- Some fixes-->
<script>
    jQuery(window).load(function() {

        // will first fade out the loading animation

        jQuery(".status").fadeOut();

        // will fade out the whole DIV that covers the website.

        jQuery(".preloader").delay(350).fadeOut("slow");

    });
</script>
</body>
</html>