<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Базовая Сраница</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'static/favicon.png' %}" type="image/png">
    <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="preloader"><div class="status">&nbsp;</div></div>
<header class="header clearfix">
    <nav class="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Meal Constructor</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Меню <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/recipe/type/Основные блюда">Основные блюда</a></li>
                            <li><a href="/recipe/type/Супы">Супы</a></li>
                            <li><a href="/recipe/type/Завтраки">Завтраки</a></li>
                            <li><a href="/recipe/type/Выпечка и десерты">Выпечка и десерты</a></li>
                            <li><a href="/recipe/type/Закуски">Закуски</a></li>
                            <li><a href="/recipe/type/Салаты">Салаты</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/recipe/type/">Все блюда</a></li>

                        </ul>
                    </li>
                    <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Продукты<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Мясо</a></li>
                            <li><a href="#">Овощи</a></li>
                            <li><a href="#">Молочные</a></li>
                            <li><a href="#">Сладости</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Все продукты</a></li>
                        </ul>
                    </li>
                    -->
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск..">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

<section id="main">
    <div class="container">
        <div class="row">
                <!--Новость№!-->
                {% for meal in meals %}

                <div class="thumbnail">
                    <div class="col-md-2">
                        <img src="{% static 'static' %}/img/{{ meal.meal_title }}150px.jpg">
                    </div>
                    <div class="col-md-8">
                        <div class="caption">
                        <h3>{{ meal.meal_title }}</h3>
                        <p>{{ meal.meal_description }}</p>
                        <p><a href="/recipe/detail/{{ meal.meal_title }}" class="btn btn-primary" role="button">Подробнее</a></p>
                        </div>
                    </div>
                    <span class="line rb"></span>
                    <div class="clearfix"></div>
                </div>
                {% endfor %}
                <!--Конец Новости№!-->

            </div>
        </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <p>© Meal Constructor 2015</p>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'static/js/bootstrap.min.js' %}"></script>
<script src="{% static 'static/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'static/js/defaults-ru_RU.js' %}"></script>

<!-- Some fixes-->
<script>
    jQuery(window).load(function() {

        // will first fade out the loading animation

        jQuery(".status").fadeOut();

        // will fade out the whole DIV that covers the website.

        jQuery(".preloader").delay(350).fadeOut("slow");

    });

    /* STICKY FOOTER */
jQuery(window).load(fixFooterBottom);
jQuery(window).resize(fixFooterBottom);

function fixFooterBottom(){

  var header      = jQuery('header.header');
  var footer      = jQuery('footer.footer');
  var content     = jQuery('section#main .container');

  content.css('min-height', '1px');

  var headerHeight  = header.outerHeight();
  var footerHeight  = footer.outerHeight();
  var contentHeight = content.outerHeight();
  var windowHeight  = jQuery(window).height();

  var totalHeight = headerHeight + footerHeight + contentHeight;

  if (totalHeight<windowHeight){
    content.css('min-height', windowHeight - headerHeight - footerHeight );
  }else{
    content.css('min-height','1px');
  }
}
</script>
</body>
</html>